//Search cover
.search-cover {
    height: 85vh;
    background-color: $brand-ligther;
    display: grid;
    @extend %basic-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    overflow: hidden;

    &_img {
        position: absolute;
        max-width: 650px;

        &--left {
            left: -13vw;
        }

        &--right {
            right: -15vw;
        }
    }

    &_content {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        position: relative;
        z-index: 99;
    }

    &_title {
        color: #fff;
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 4rem;
        line-height: 5rem;
    }

    &_subtitle {
        color: #fff;
    }

    &_searchbox {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;

        &_block {
            @include flexbox;
            @include align-items(center);
            background-color: #fff;
            border-radius: 50px;
            max-width: 1000px;
            margin: 0 auto;
            position: relative;
        }

        &_input {
            border: none;
            line-height: 60px;
            border-radius: 50px;
            width: 100%;
            padding: 0 10px;
            background-color: #fff;
            color: $gray;
            font-size: 1.5rem;
            text-align: center;
            font-weight: 100;
            border: 5px solid #fff;
            box-shadow: 0 5px 30px 0 rgba(#000, 0);
            transition: box-shadow 0.3s;

            &:focus {
                box-shadow: 0 5px 30px 0 rgba(#000, 0.2);
            }
        }

        &_btn {
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            width: 60px;
            height: 60px;
            line-height: 60px;
            border: none;
            position: absolute;
            right: 5px;
            background-color: $secondary-brand;
            color: #fff;
            border-radius: 50%;
        }
    }
}


//Search page
.search-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    @extend %basic-grid;
}

.search-filters {
    background-color: #fff;
    border-bottom: 1px solid $gray-ligthen;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    @extend %basic-grid;
    grid-template-rows: auto 70px;

    &_search {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        padding: 10px 15px;
        border-bottom: 1px solid $gray-ligthen;
    }

    &_input {
        border: none;
        width: 100%;
        line-height: 60px;
        border-radius: $border-radius;
        background-color: rgba($gray-ligthen, 0.3);
        font-size: 1.5rem;
        color: $gray;
        text-align: center;
        font-weight: 100;

        &:focus {
            outline: none;
        }
    }

    &_inner {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-column-start: 2;
        grid-column-end: 3;
        height: 100%;
        @include align-items(center);
    }

    &_left,
    &_right {
        @include flexbox;
        @include align-items(center);
    }

    &_left {
        @include justify-content(flex-start);
        padding-right: 15px;

        .search-filters_filters {
            @include respond-below(sm) {
                display: none;
            }
        }

        .search-filters_filter {
            &:not(:last-child) {
                margin-right: 40px;

                @include respond-below(md) {
                    margin-right: 20px;
                }
            }
        }
    }

    &_right {
        padding: 0 15px;
        @include justify-content(flex-start);
    }

    &_filters {
        @include flexbox;

    }
}

.search-results {
    display: grid;
    grid-template-rows: auto auto;
    grid-column-start: 2;
    grid-column-end: 3;

    &_info {
        padding: 20px 0;
    }

    &_title {
        grid-row-start: 1;
        text-align: left;
    }

    &_inner {
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        @include justify-content(center);

        @include respond-below(lg) {
            grid-template-columns: repeat(4, 1fr);
        }

        @include respond-below(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-below(sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}