.skeleton{
    &-card{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        height: 100%;
        @include respond-below(sm){
            padding: 10px;
        }
        &_img{
            height:20vh;
            border-radius: $border-radius;
            background-color: $gray-ligthen;
            @extend %skeleton-animation;
            @include respond-above(sm){
                height: 19vh;
            }
        }
        &_title{
            width: 70%;
            background-color: $gray-ligthen;
            @extend %skeleton-animation;
            height: 20px;
            border-radius: $border-radius;
            margin-top: 10px;
            @include respond-above(sm){
                margin-top: 20px;
            }
        }
        &_category{
            width: 30%;
            background-color: $gray-ligthen;
            @extend %skeleton-animation;
            height: 10px;
            border-radius: $border-radius;
            margin-top: 7px;
        }
        &_excerpt{
            margin-top: 15px;
            @include respond-above(sm){
                margin-top: 20px;
            }
            @include respond-below(sm){
                display: none;
            }
            span{
                background-color: $gray-ligthen;
                @extend %skeleton-animation;
                height: 15px;
                border-radius: $border-radius;
                display: block;
                &:first-child{
                    width: 100%;
                    margin-bottom: 5px;
                    @include respond-above(sm){
                        margin-bottom: 10px;
                    }
                }
                &:last-child{
                    width: 60%;
                }
                @include respond-above(sm){
                    height: 10px;
                }
            }
        }
    }
    &-banner{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $gray-ligthen;
        z-index: 8;
        height: 100%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
        &_title{
            width: 60%;
            background-color: lighten($gray-ligthen,10);
            @extend %skeleton-animation;
            height: 20px;
            border-radius: $border-radius;
            margin: 0 auto;
            @include respond-above(sm){
                height: 30px;
            }
        }
        &_line{
            width: 80px;
            background-color: lighten($gray-ligthen,10);
            @extend %skeleton-animation;
            height: 10px;
            border-radius: $border-radius;
            display: block;
            margin: 20px auto 0;
        }
        &_link{
            width: 120px;
            background-color: lighten($gray-ligthen,10);
            @extend %skeleton-animation;
            height: 10px;
            border-radius: $border-radius;
            margin: 25px auto 0;
            @include respond-above(sm){
                height: 15px;
            }
        }
    }
}
