//Basic badges
.badge {
    border-radius: $border-radius;
    text-decoration: none;

    &-card {
        font-size: 10px;
        line-height: 1.2rem;
        text-transform: uppercase;
        display: inline-block;
        padding: 2px 15px 0;
        margin-bottom: 8px;
        font-weight: 600;
        letter-spacing: 2.5px;

        @include respond-below(xs) {
            font-size: 8px;
            line-height: 1rem;
        }
    }

    &-card_info {
        position: absolute;
        top: 10px;
        right: 10px;
        text-transform: uppercase;
        padding: 3px 15px;
        font-size: 1rem;
        line-height: 1.4rem;
        display: inline-block;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        span {
            padding-top: 1px;
            line-height: 1rem;
        }

        svg {
            margin-left: 3px;
        }
    }

    &--recipe,
    &--collection {
        background-color: $brand;
        color: #fff;
    }

    &--plan {
        background-color: $secondary-brand;
        color: #fff;
    }

    &--premium {
        background-color: $alternative-yellow;
        color: $gray-darken;
    }
}