//Basic parameters
a[class*='btn'],
button[class*='btn'] {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 2px 15px 0 rgba(#000, 0.08);
    }
}

.btn {
    line-height: 40px;
    padding: 0 25px;
    border-radius: $border-radius;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid;

    &:hover {
        background-color: currentColor;
    }

    &--sm {
        font-size: 1rem;
    }

    &--md {
        font-size: 1.5rem;
    }

    &--xl {
        font-size: 2rem;
    }

    &--white {
        background-color: #fff;
        color: $brand-darker;
        border-color: #fff;

        &:hover {
            color: $brand-darken;
            background-color: $brand-ligthen;
            border-color: $brand-ligthen;
        }
    }

    &--brand {
        border-color: $brand;
        background-color: $brand;
        color: #fff;

        &:hover {
            background-color: $brand-darker;
            border-color: $brand-darker;
        }
        &-ligthen{
            border-color: $brand-ligthen;
            background-color: $brand-ligthen;
            color: $brand-darken;
            &:hover {
                background-color: lighten($brand-ligthen,5%);
                border-color: lighten($brand-ligthen,5%);
            }
        }
    }

    &--secondary {
        border-color: $secondary-brand;
        background-color: $secondary-brand;
        color: #fff;

        &:hover {
            background-color: $secondary-brand-ligther;
            border-color: $secondary-brand-ligther;
        }
    }

    &--alternative-yellow {
        border-color: $alternative-yellow;
        background-color: $alternative-yellow;
        color: $gray-darken;

        &:hover {
            background-color: lighten($alternative-yellow, 20%);
            border-color: lighten($alternative-yellow, 20%);
        }
    }

    &--alternative-blue {
        border-color: $alternative-blue;
        background-color: $alternative-blue;
        color: #fff;

        &:hover {
            background-color: lighten($alternative-blue, 10%);
            border-color: lighten($alternative-blue, 10%);
        }
    }

    &--alternative-red {
        border-color: $alternative-red;
        background-color: $alternative-red;
        color: #fff;

        &:hover {
            background-color: lighten($alternative-red, 20%);
            border-color: lighten($alternative-red, 20%);
        }
    }
}

.btn-ghost {
    background-color: transparent;
    border: 2px solid;
    border-radius: $border-radius;
    font-size: 1rem;

    &--white {
        border-color: #fff;
        color: #fff;
    }

    &--brand {
        border-color: $brand;
        color: $brand;
    }

    &--secondary {
        border-color: $secondary-brand;
        color: $secondary-brand;
    }

    &--alternative-yellow {
        border-color: $alternative-yellow;
        color: $alternative-yellow;
    }

    &--alternative-blue {
        border-color: $alternative-blue;
        color: $alternative-blue;
    }

    &--alternative-red {
        border-color: $alternative-red;
        color: $alternative-red;
    }
}

.btn-special {
    border-radius: 50px;
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1rem;
    border: none;
    border-radius: 50%;
}
