.card {
    text-align: left;
    position: relative;

    &--premium {
        .card-ribbon {
            background-color: $alternative-yellow;
        }
    }

    &-ribbon {
        position: absolute;
        left: -22px;
        top: -39px;
        border-radius: 3px;
        text-align: center;
        height: 125px;
        width: 70px;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);

        svg {
            -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
            position: absolute;
            left: 35px;
            top: 48px;
        }
    }

    &-img {
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            border-radius: $border-radius;
        }
    }

    &-content {
        padding: 10px;
        margin-top: -22px;
        position: relative;
    }

    &-title {
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 1.4rem;
        margin-bottom: 10px;

        @include respond-below(md) {
            font-size: 1.2rem;
            line-height: 1.3rem;
        }

        @include respond-below(sm) {
            font-size: 1.2rem;
            line-height: 1.3rem;
        }

        @include respond-below(xs) {
            font-size: 0.8rem;
            line-height: 1rem;
            margin-bottom: 5px;
        }

        a {
            color: $gray-darken;
            text-decoration: none;
        }
    }

    &-category {
        font-style: italic;
        color: $gray-darken;
        display: block;
        text-decoration: none;
        font-size: 12px;

        @include respond-below(xs) {
            margin-bottom: 0;
        }
    }

    &-excerpt {
        color: $gray;
        font-size: 12px;
        margin-top: 15px;

        @include respond-below(md) {
            display: none;
        }
    }
}

.card-all {
    text-decoration: none;

    @include respond-below(sm) {
        padding: 10px;
    }

    &_inner {
        height: 24vh;
        // background-color: $brand-ligthen;
        // border: 1px solid $brand-ligthen;
        // border-radius: $border-radius;
        color: $brand;
        -webkit-box-shadow: 0 5px 20px 0 rgba(#000, 0.03);
        box-shadow: 0 5px 20px 0 rgba(#000, 0.03);
        text-decoration: none;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);


        @include respond-above(sm) {
            height: 14.2vh;
        }

        @include respond-above(xl) {
            height: 19vh;
        }

        span {
            display: block;
            margin-top: 10px;
        }
    }
}