.link {
    text-decoration: none;

    &--brand {
        color: $brand;
    }

    &--secondary-brand {
        color: $secondary-brand;
    }
}

.link-seeall {
    grid-column-start: 3;

    @include respond-below(xs) {
        font-size: 0.8rem;
    }
}