//Colors
$body: hsla(200, 36%, 96%, 1);

$gradient-blue: #8ad2db;

$brand-darken: #47615D;
$brand-darker: #61938C;
$brand: #6caea4;
$brand-ligther: #7CC5BA;
$brand-ligther2: #7CC5BA;
$brand-ligthen: #91D9CE;

$secondary-brand-darken: #71303a;
$secondary-brand-darker: #b43548;
$secondary-brand: #da344d;
$secondary-brand-ligther: #f7405c;
$secondary-brand-ligther2: #ff5871;
$secondary-brand-ligthen: #ffb0b5;

$gray-darken: #272727;
$gray: #9B9B9B;
$gray-ligthen: #E8E8E8;

$alternative-yellow: #ede139;
$alternative-blue: #3481d9;
$alternative-red: #d93434;