@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}
%skeleton-animation{
    animation: pulse 1s infinite ease-in-out;
}

@keyframes showMenu {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(100);
    }
}
%menu-animation{
    animation: showMenu 1s forwards ease;
}
